{% extends 'base.html' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3" align=center>Welcome
           <marquee> 
          <img src='\static\images\12ec3d35916ac0ad717cb9cb0cf06fa1.jpg' align=top alt="No image" style="width:800px;height:300px;">
        <img src='\static\images\12.jpg' align=top alt="No image" style="width:800px;height:300px;"></img>
        <img src='\static\images\44-2.jpg' align=top alt="No image" style="width:800px;height:300px;"></img>
        </marquee></h1>
        
        <p class="lead">Recognize License plate

        
        </p>
        <hr class="my-2">
        <p>Using object detection and ocr</p>
        
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/upload" role="button">Upload Image</a>
        </p>
    </div>
{% endblock %}


