{% extends 'base.html' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome
            
          <img src='\static\uploads\12ec3d35916ac0ad717cb9cb0cf06fa1.jpg' align=Right alt="No image" style="width:800px;height:300px;"></img>
        </h1>
        
        <p class="lead">Recognize License plate

        
        </p>
        <hr class="my-2">
        <p>Using object detection and ocr</p>
        
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/upload" role="button">Upload Image</a>
        </p>
    </div>
{% endblock %}


